.experimente {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h2 {
        color: #333;
    }

    label {
        display: flex;
        flex-direction: column;
        color: #555;
        width: 100%;

        input {
            padding: 8px 10px;
            flex-grow: 1;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 14px;
            outline: none;
        }
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: rgb(7, 119, 7);
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: .5s ease-in-out;

        &:hover {
            background-color: rgb(6, 82, 6);
        }

        &:nth-child(even) {
            background-color: #007bff;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}